.manual {
    width: 400px;
    height: 600px;
    border: solid 2px #000000;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-block;
    position: absolute;
}

.manual:nth-child(1){
    top: 0;
    left: 0;
}

.manual:nth-child(2){
    top: 0;
    left: 420px;
}

.manual:nth-child(3){
    top: 620px;
    left: 0px;
}

.manual:nth-child(4){
    top: 620px;
    left: 420px;
}

.manual:nth-child(5){
    top: 1240px;
    left: 0px;
}

.textarea-wrapper{
    width: 400px;
    position: absolute;
    top: 1300px;
    left: 450px;
}

.manual h1 {
    font-weight: bold;
    font-size: xx-large;
    margin-top: 10px;
    margin-left: 20px;
}

.manual p {
    margin-top: 20px;
}

.manual * {
    margin-left: 10px;
}

.manual ul {
    margin-top: 20px;
    margin-left: 0;
}

.manual li {
    margin-left: 0;
}

body {
    display: flex;
}

.step {
    width: 196px;
    margin-left: 0;
    display: inline-block;
}